################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreAng5/.vs/CoreAng5/v15
/CoreAng5/CoreAng5/obj
